# =========================
# Système d'exploitation
# =========================

.DS_Store
Thumbs.db

# =========================
# Éditeurs de code
# =========================

.vscode/
.idea/

# =========================
# Variables d'environnement
# =========================

.env
.env.*

# =========================
# Fichiers temporaires
# =========================

*.log
*.tmp
*.temp